/**
 * HTML5 display definitions 
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none1; }
[hidden] { display: none; }


/**
 * Base 
 */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; font-family:Helvetica, Arial, sans-serif }
::-moz-selection { background: #13B4FF; color: #fff; text-shadow: none; }
::selection { background: #13B4FF; color: #fff; text-shadow: none; }


/**
 * Links 
 */
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/**
 * Typography 
 */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
h1,h2,h3,h4,h5 {margin:0; padding:0;}


/**
 * Lists 
 */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/**
 * Embedded content 
 */
images { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }



/**
 * Figures 
 */
figure { margin: 0; }


/**
 * Forms 
 */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }



/**
 * Tables 
 */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

 

/**
 * Start of css 
 */

@font-face {
        font-family: "myriad-pro-italic";
        font-style: normal;
        src: url(../fonts/MyriadPro-It.eot); /*if IE */
        src: local("Grandesign Regular"), url("../fonts/MyriadPro-It.otf") format("truetype"); /* non-IE */
}
@font-face {
        font-family: "myriad-pro-regular";
        font-style: normal;
        src: url(../fonts/MyriadPro-It.eot); /*if IE */
        src: local("Grandesign Regular"), url("../fonts/MyriadPro-Regular.otf") format("truetype"); /* non-IE */
}
@font-face {
        font-family: "myriad-pro-bold";
        font-style: normal;
        src: url(../fonts/MyriadPro-It.eot); /*if IE */
        src: local("Grandesign Regular"), url("../fonts/MyriadPro-Bold.otf") format("truetype"); /* non-IE */
}
@font-face {
        font-family: "interstate-regular";
        font-style: normal;
        src: url(../fonts/interstate.eot); /*if IE */
        src: local("Grandesign Regular"), url("../fonts/Interstate-Regular.ttf") format("truetype"); /* non-IE */
}
@font-face {
        font-family: "interstate-bold";
        font-style: normal;
        src: url(../fonts/interstate.eot); /*if IE */
        src: local("Grandesign Regular"), url("../fonts/Interstate-Bold.ttf") format("truetype"); /* non-IE */
}


 
body { background: #2a2a2a; overflow-x: hidden; }


/* limit content to certain viewport */
.wrap { 
    width: 1000px; 
    margin:0px auto; 
    text-align:center; 
    position: relative; 
}


#start_screen {
	position: relative;
	background:#202020;
	padding: 0;
    margin: 0;
	outline: 0;
	width: 100%;
	height: 100%;
}

#start_screen .border {
    height: 6px; 
    background-color:#313131;
}


#start_screen .social {
    background-color:#202020;
    width: 100%;
    height: 75px;
}

#start_screen .social .media {
    background-color:#202020;
    height: 70px;
    width: 1000px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    padding-top: 5px;
}
 

#start_screen ul {
    list-style: none;
    margin: 0;
    margin-left: 220px;
    text-align: center;
}

#start_screen li {
    height: 64px;
    width: 64px;
    float: left;
    background-color: #313131;
    margin-right: 20px;
    display: block;
    cursor: pointer;
}

#start_screen #facebook {
    background: url('../images/social/facebook.png') no-repeat 0 0;
}

#start_screen #twitter {
    background: url('../images/social/twitter.png') no-repeat 0 0;
}

#start_screen #flickr {
    background: url('../images/social/flickr.png') no-repeat 0 0;
}

#start_screen #google {
    background: url('../images/social/google.png') no-repeat 0 0;
}

#start_screen #linkedin {
    background: url('../images/social/linkedin.png') no-repeat 0 0;
}

#start_screen #youtube {
    background: url('../images/social/youtube.png') no-repeat 0 0;
}

#start_screen .container {
    width: 100%; 
    height: 300px;   
    background-color:#FFFFFF;
}

#start_screen .cartoon{
    text-align:center;
    padding-top:38px; 
}

#start_screen .blurb {
    margin-top:100px;
    text-align:center;
    color: #FFFFFF;
    font-size: 40px;
    font-weight:bold;
}

 
#start_button, .down_button { 
    cursor: pointer;
	position: absolute;
	z-index: 5;
	display: block;
	left: 50%;
	bottom: 4%;
	margin-left: 0px;
	-moz-transition: bottom 250ms ease-in-out;
	-webkit-transition: bottom 250ms ease-in-out;
}

.down_button { 
    display: block; 
    z-index: 999999; 
    height: 30px; 
    width: 30px;
    margin-left: -15px;
    background: url('../images/down.png') no-repeat 0 0;
}
 

#content_wrap { display: none; }
#content_wrap section {
    text-align:center;
    position:relative;
	overflow:hidden;
	margin: 0;
    padding: 0;
    height: 663px; 
    width: 1899px; 
    
}

/*
 * Centering 
 * http://css-tricks.com/centering-in-the-unknown/  
 */
#content_wrap section:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; 
 }
 
#content_wrap .centered {
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    margin-top:-60px;
}
#content_wrap .centered h1 {
    font-size:60px;
}
#content_wrap .centered p {
    font-size: 15px
}

#global_nav {
	position: fixed;
	right: 0;
	top: 10%;
	height: 140px;
	width: 129px;
	background: #202020;
	font-size: 1em;
	z-index: 10000;
	transition: right 250ms ease-in-out;
	-webkit-transition: right 250ms ease-in-out;
	-moz-transition: right 250ms ease-in-out;
	-ms-transition: right 250ms ease-in-out;
	-o-transition: right 250ms ease-in-out;
	box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
	-moz-box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
	-webkit-box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
}

#global_nav.offscreen {
	right: -130px;
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-ms-transition-duration: 250ms;
	-o-transition-duration: 250ms;
}

#global_nav ul {
	padding: 17px 0 0 17px;
}
#global_nav ul li {
	list-style-type: none;
	font: bold 0.875em/0.75em "interstate-regular";
	letter-spacing: -0.08em;
	padding: 0 0 6px 0;
	text-transform: uppercase;
}
#global_nav ul li a {
	text-decoration: none;
	color: #fff;
	transition: color 250ms ease-in-out;
	-webkit-transition: color 250ms ease-in-out; 
}
#global_nav ul li a:hover, #global_nav ul li a.current {
	color: #13B4FF;
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
}
  
 




/**
 * Contact us 
 */


#contact .box {
    height: 500px;
    width: 1000px;     
    
    text-align:left;
    padding: 0;
    margin-top: -10%;
    background-color:#1b1b1b;
}


#contact .banner {
    width:100%; 
    height: 100px; 
    background-color: #f0f0f0; 
    position: relative;
}

#contact .banner .container-message {
    width: 80%; 
    height: 100px; 
    float: left;
}


#contact .banner .container-message h1 {
    font-size: 80px; 
    margin-top: 18px; 
    color: #1b1b1b;
}

#contact .banner .container-top {    
    width: 20%;
    height: 100px; 
    float: left;
}

#contact .banner .container-top div{    
    position: absolute; 
    bottom: 0;
    right: 0; 
    color: #FFFFFF;  
    background-color: #1b1b1b; 
    padding: 6px 20px;
    font-size: 14px;
    cursor: pointer;
}

#contact .box h1 {
    font-size: 17px;
    margin-bottom: 15px;
}

#contact .one {
    display:block;
    float:left; 
    width: 310px; 
    height: 370px;
    margin: 15px 20px;
}
#contact .two {
    display:block;
    float:left; 
    width: 310px; 
    height: 370px;
    margin: 15px 20px 15px 0px;
}
#contact .three {
    display:block;
    float:left; 
    width: 300px; 
    height: 370px;
    margin: 15px 15px 20px 0px;
}

#contact .box p {
    font-size: 14px;
} 



#contact label {
    display: block;
    height: 40px;
    overflow: hidden;
}


#contact input {
    background: none repeat scroll 0 0 #F4F4F4;
    border: medium none;
    color: #333333;
    padding: 6px 5px 6px 8px;
    width: 295px;
}
 

#contact textarea {
    background: none repeat scroll 0 0 #F4F4F4;
    border: medium none;
    color: #333333;
    height: 155px;
    margin-bottom: 15px;
    overflow: auto;
    padding: 6px 5px 6px 8px;
    width: 295px;
}


#contact span {
    color: #999999;
    float: left;
    width: 100px;
}






#contact a.button {
    display:inline;
    background-color: #313131 ;
    padding:8px 15px;
    text-align:center;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}
