#template_six {
    background-color: #FFFFFF;
}
#works {
    width: 1100px; 
}

#works .header {
    margin-bottom: 10px;
}

#works .header h1{
    color: #FFFFFF;
    background-color: #1b1b1b;
    padding: 0px 20px;
    display: inline-block;
}

#works h3{
  color: #2C2C2C;
    font-family: 'Arial Black','Gill Sans','Lato',Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    font-weight: 900;
    margin-bottom: 15px;
    text-transform: uppercase;

}


#works .slide {

}

#works .slide .contents{
    float: left;
    width: 330px; 
    height: 450px;
    padding:0px 10px;
}

#works .slide .contents h3{
    font-size: 32px;
    display: block;
    text-align: left;
}


#works .slide .contents p{
    text-align: left;
    margin-bottom: 11px;
    line-height: 1.5em;
    color: black;
    text-justify:justified;
}

