#works {
    width: 1050px; 
}

#works .header {
    margin-bottom: 10px;
}

#works .header h1{
    color: #FFFFFF;
    background-color: #1b1b1b;
    padding: 0px 20px;
    display: inline-block;
    
}

#works h3{
  color: #2C2C2C;
    font-family: 'Arial Black','Gill Sans','Lato',Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    font-weight: 900;
    margin-bottom: 15px;
    text-transform: uppercase;

}
#works p{
    text-align: left;
    margin-bottom: 12px;
     line-height: 1.5em;
     color: black;
     text-justify:justified;
}

